@import './base.css';

:root {
  --footer-height: calc(1.2rem + 1.2rem + 1.5rem);
}


.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-between;
}
.main {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}
.footer {
  height: var(--footer-height);
  padding: 1.2rem 1rem;
}

.footer a {
  color: #eee;
}

strong {
  font-weight: 600;
}
.clickhistory::-webkit-scrollbar {
  display: none;
}
.clickhistory {
  position: absolute;
  bottom: 2em;
  left: 1em;
  color: white;
  padding: 0 2em 0.5em;
  list-style: none;
  height: 13em;
  width: auto;
  overflow-y: scroll;
  padding-right: 1.3em;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.clickhistory li {
  opacity: 0.2;
}

.clickhistory li:nth-last-of-type(-n+4) {
  opacity: 0.65;
}

.clickhistory li:nth-last-of-type(-n+2) {
  opacity: 1.0;
}

.anim-intro {
  transform-origin: center center;
  animation: blowup 1 ease 200ms;
}

@keyframes blowup {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.95);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}