@import './base.css';

:root {
  --footer-height: calc(1.2rem + 1.2rem + 1.5rem);
}


.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-between;
}
.main {
  flex-grow: 1;
}
.footer {
  color: lightgrey;
  height: var(--footer-height);
  padding: 1.2rem 1rem;
  background-color: midnightblue;
}

strong {
  font-weight: 600;
}
